* {
    font-family: 'Khand', sans-serif;
}

#screen-container {
    background-color: #80839B;
}

#group-view {
    display: flex;
    flex-direction: row;
}

#group-name {
    color:#354C71;
    margin: 1em;
}

#add-task-card {
    color: #354C71;
    background-color: #359692;
    border: .05em solid #354C71;
    margin: 1em;
    padding: 1em;
}

#add-member-card {
    color: #354C71;
    background-color: #359692;
    border: .05em solid #354C71;
    margin: 1em;
    padding: 1em;
}

#add-task-button {
    color: #359692;
    background-color: #354C71;
    border-color: #963542;
    border: none;
    margin-bottom: 1em;
}

#add-member-button {
    color: #359692;
    background-color: #354C71;
    border-color: #963542;
    border: none;
    margin-bottom: 1em;
}

.list-group-item {
    background-color: #963542;
    margin-top: 1em;
    border: none;
}