#screen-container {
    background-color: #80839B;
}

#primary-background {
    background-color: #963542;
}

#secondary-background {
    color: #e33059;
}

#login-button {
    border-color: #963542;
}

/*
#username {
    color: #00F0FF;
}
*/

.input-fields {
    color: #D4E5E4;
    background-color: #963542;
    border-color: #963542;
}