<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>

    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Khand&display=swap" rel="stylesheet">

    <!--Bootstrap Boilerplate-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>

<h1>About Team Cavalier</h1>

<h3>Brandon Hurrington</h3>
<img src="">
<p>Add your professional description</p>

<h3>Steve Grant</h3>
<img src="">
<p>Add your professional description</p>

<h3>Chris Coulon</h3>
<img src="/img/ChrisCoulon.jpeg">
<p>Apprentice Software Developer with a background as a Logistics Officer and Project Manager with a demonstrated history of working both in the military industry and as an entrepreneur. Skilled in Management, Project Planning, Program Improvement, Cross-functional Team Leadership, Collaboration, and Public Speaking. Certificates include Lean Six Sigma Green Belt, Civil Military Operations Staff Planner, Outdoor Emergency Care Technician and a Double Bachelors of the Arts in International Relations & Environmental Studies from Franklin University Switzerland. </p>

<h3>Manish KC</h3>
<img src="">
<p>Add your professional description</p>


</body>
</html>