<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Khand&display=swap" rel="stylesheet">

    <!--Bootstrap Boilerplate-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>

<form method="POST" action="/users">
    <div>
        <div class="col-sm-12" style="padding-top:10px;">
            <input type="text" class="form-control" id="groupName" placeholder="Group Name" name="groupName" style="border-radius:15px;">
        </div>

        <div class="col-sm-12" style="padding-top:10px;">
            <input type="text" class="form-control" id="Task" placeholder="Last Name" name="lastName" style="border-radius:15px;">
        </div>

        <button class="col-md-4 col-md-offset-4 btn" style="background-color:#ffffff; color:#626a69; font-size:20px; margin-top:10px;" type="submit"> Add Group
        </button>
    </div>
</form>
</body>
</html>