<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Khand&display=swap" rel="stylesheet">

    <!--Bootstrap Boilerplate-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="./css/banner.css">

</head>
<body>
    <div th:replace="fragments/banner :: banner"></div>
    <div th:each="group : ${loggedInUser.candidateGroup}">
        <a th:href="${'/registration/' + group.id}"> invite link</a>
    </div>
<!--    Admin Dashboard View-->
    <div th:if="${loggedInUser.isAdmin}">
        <form method="POST" action="/addgroup">
            <div class="form-group">
                <label for="groupName">Group Name: </label>
                <textarea class="form-control" name="groupName" id="groupName" aria-describedby="createGroupInstructions" placeholder="Group Name"></textarea>
                <small id="createGroupInstructions" class="form-text text-muted">Add new groups here.</small>
            </div>
            <button type="submit" class="btn btn-primary">Create Group</button>
        </form>
        <ul class="list-group" name="groupList" id="groupList">
            <li class="list-group-item" th:each="group : ${loggedInUser.candidateGroup}">
                <a th:href="${'/groupview/' + group.id}"><h1><span th:text="${group.getGroupName()}"></span></h1></a>
            </li>
        </ul>
    </div>
<!--    Candidate dashboard view-->
    <div th:unless="${loggedInUser.isAdmin}">
        <h2>Hello, <span th:text="${loggedInUser.firstName}"> </span></h2>
        <h4 th:text="${loggedInUser.groupThatCandidatesBelongTo.groupName}"></h4>
<!--        <ul th:each="task : ${loggedInUser.candidateGroup.scheduledTasks}">-->
<!--            <li th:text="${task.name}"></li>-->
<!--        </ul>-->
    </div>
    <!--@{/groupview/{id}(id=${loggedInUser.candidateGroup.id})}-->
</body>
</html>