<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Please use an informative title. -->
    <title>Title</title>

    <!-- Your error page doesn't use any of these fonts or Bootstrap; it shouldn't pull them in unnecessarily. -->
</head>
<body>
    <h1>YOU ARE IN ERROR</h1>
    <!-- The minimalism of this error page means that a user has no idea whether they clicked a bad link,
    or the site has crashed entirely. You should provide more helpful error messages to your users. -->
</body>
</html>