<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Group View</title>

    <!--Bootstrap Boilerplate-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="./css/taskView.css">
</head>
<body>
    <!--<h1><span th:text="${group.getName()}"></span></h1>-->
    <!--th:href="@{/task/{id}(id=${task.id})}"-->
    <form method="GET" action="/taskview">
        <button type="submit" class="btn btn-primary" >Add Task</button>
    </form>

    <div class="card" id="existing-tasks" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <h3 class="list-group-item-heading">Tasks: </h3>
            <li class="list-group-item">Task 1</li>
            <li class="list-group-item">Task 2</li>
            <li class="list-group-item">Task 3</li>
        </ul>
    </div>

    <!-- Trigger modal with button. -->
    <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#modal">Add Member</button>
    <div th:replace="fragments/modal :: div"></div>

    <div class="card" id="existing-members"style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <h3 class="list-group-item-heading">Members: </h3>
            <li class="list-group-item">Member 1</li>
            <li class="list-group-item">Member 2</li>
            <li class="list-group-item">Member 3</li>
        </ul>
    </div>

<!--<ul class="list-group list-group-flush">-->
<!--    <li th:each="task : ${group.tasks}" class="list-group-item">-->
<!--        <a th:href="@{/task/{id}(id=${task.id})}"><h1><span th:text="${task.getName()}"></span></h1></a>-->
<!--    </li>-->
<!--</ul>-->


</body>
</html>