<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Group View</title>
</head>
<body>
<!--<h1><span th:text="${group.getName()}"></span></h1>-->
<button type="button" class="btn btn-secondary">Add Task</button>
<button type="button" class="btn btn-secondary">Add member</button>

<div class="card" id="existing-tasks"style="width: 18rem;">

    <div class="card-header">
        Tasks
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>
</div>

<div class="card" id="existing-members"style="width: 18rem;">
    <div class="card-header">
        Members
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>
</div>

<!--<ul class="list-group list-group-flush">-->
<!--    <li th:each="task : ${group.tasks}" class="list-group-item">-->
<!--        <a th:href="@{/task/{id}(id=${task.id})}"><h1><span th:text="${task.getName()}"></span></h1></a>-->
<!--    </li>-->
<!--</ul>-->


</body>
</html>