<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>

    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Khand&display=swap" rel="stylesheet">

    <!--Bootstrap Boilerplate-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/root.css">
    <link rel="stylesheet" href="/css/banner.css">
    <link rel="stylesheet" href="/css/registration.css">

    <link rel="stylesheet" href="/css/registration.css">
    <link rel="stylesheet" href="/css/banner.css">

</head>

<body>
    <div th:replace="fragments/banner :: banner"></div>
    <div >
        <form th:if="${isCandidate}" class="box" method="POST" th:action="${'/users/' + groupId}" id="registration-view">
            <h1>Register</h1>
            <input type="text" class="form-control" id="firstName" placeholder="First Name" name="firstName"  required>
            <input type="text" class="form-control" id="lastName" placeholder="Last Name" name="lastName"  required>
            <input type="username" class="form-control" id="username" placeholder="Enter username" name="username"  required>
            <input type="password" class="form-control" id="password" placeholder="Type your Password" name="password"  required>
            <button type="submit"> Submit </button>
        </form>
        <form th:unless="${isCandidate}" class="box" method="POST" action="/users" id="registration-view">
            <h1 >Register</h1>
            <input type="text" class="form-control" id="firstName" placeholder="First Name" name="firstName" >
            <input type="text" class="form-control" id="lastName" placeholder="Last Name" name="lastName" >
            <input type="username" class="form-control" id="username" placeholder="Enter username" name="username" >
            <input type="password" class="form-control" id="password" placeholder="Type your Password" name="password" >
            <button  type="submit"> Submit </button>
        </form>
    </div>
</body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</html>

