<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./css/taskView.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<!--    <script src="./js/taskView.js"></script>-->

</head>

<body>

<h2>Task View</h2>

<form action="#">
    Task Name:<br>
    <input type="text" name="taskName" value="Mickey">
    <br>
    Instruction:<br>
    <input type="text" name="instruction" value="instruction 1">
    <button type="button" class="btn btn-primary">Add instruction</button>
    <br><br>
    Task link:<br>
    <input type="text" name="taskLink" value="www.google.com">
    <br><br>


    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-success">Save</button>
        <button type="button" class="btn btn-danger">Delete</button>
    </div>

</form>


<!--<div class="form-group">-->
<!--    <h1>To-Do <small>List</small></h1>-->
<!--    <form role="form">-->
<!--        <input type="text" class="form-control" placeholder="Your Task" name="task">-->
<!--    </form>-->
<!--    <button type="button" class="btn btn btn-primary">Add</button>-->
<!--</div>-->
<!--<div></div>-->
<!--<ul class="list-unstyled" id="todo"></ul>-->




<!--<script src="./js/taskView.js"></script>-->
</body>
</html>


