<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Task View</title>

    <!--Bootstrap Boilerplate-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/taskView.css">
    <link rel="stylesheet" href="/css/banner.css">

</head>

<body>
    <div th:replace="fragments/banner :: banner"></div>
    <h2>Task View</h2>
    <h1><span th:text="${group.getGroupName()}"></span></h1>

    <!--Admin user view-->
    <form th:if="${loggedInUser.isAdmin}" method="POST" th:action="${'/addtask/' + group.getId()}">        Task Name:<br>
        <label>Task Name: <input type="text" name="nameOfTask" placeholder="Task 1" required></label><br>

        <label>Instruction: <input type="text" name="instructions" placeholder="instruction 1" required></label><br>
        <label>Task Link <input type="text" name="taskLink" ></label><br>
        <label>Due Date: <input type="date" name="dueDate" id="dueDate" required></label><br>
        <label >Point of Contact <input type="text" name="poc" required></label><br>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="submit" class="btn btn-success">Save</button>
            <form method="GET" th:action="${'/dashboard'}" >
            </form>
        </div>
    </form>

<!--Candidate user view-->
<div th:unless="${loggedInUser.isAdmin}">
    <form method="POST" th:action="${'/task/update/' + task.getId()}">
        <h2>Task Name: <span th:text="${task.name}"></span></h2><br>
        <h2>Instruction: <span th:text="${task.instructions}"></span></h2><br>
        <h2>Task link: <span th:text="${task.link}"></span></h2><br>
        <h2>Point of Contact: <span th:text="${task.pointOfContact}"></span></h2><br>
    </form>
</div>
    <!--<script src="./js/taskView.js"></script>-->
</body>
</html>


